{% extends "default.html" %}

{% load static %}

{% block 'body' %}

<div class="min-h-screen flex items-center justify-center px-4 py-8 bg-center bg-no-repeat bg-cover" style="background-image: url('{% static 'images/car_image_carsdb.jpg' %}'); background-color: rgba(255, 255, 255, 0.65); background-size: cover; background-blend-mode: overlay;">
  <div class="max-w-5xl w-full space-y-20 text-center">

    <div class="bg-transparent rounded-xl p-8">

      <h2 class="uppercase mb-12 text-5xl sm:text-5xl font-bold tracking-wide text-red-800">
        WELCOME TO CARS DATABASE APP
      </h2>

      <p class="mt-5 text-lg sm:text-xl text-red-700">
        TO REGISTER OR CONSULT OUR DATABASE, PLEASE SELECT ONE OF THESE OPTIONS:
      </p>

      <div class="flex justify-center gap-25">
 
        <form method="get" action="{% url 'cars' %}">
          
          <button type="submit" class="mt-15 inline-flex justify-center rounded-md cursor-pointer bg-red-700 px-5 py-4 text-sm font-semibold text-yellow-300 shadow-sm hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600">
            REGISTER NEW CAR
          </button>
          
        </form>

        <form method="get" action="{% url 'all_cars' %}">
          
          <button type="submit" class="mt-15 inline-flex justify-center rounded-md cursor-pointer bg-red-700 px-5 py-4 text-sm font-semibold text-yellow-300 shadow-sm hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-600">
            ALL REGISTERED CARS
          </button>
          
        </form>

      </div>
    
    </div>

  </div>
</div>

{% endblock 'body' %}


{% block 'footer' %}
<footer class="bg-red-900 text-yellow-200 text-center py-4">
  © 2025 Cars Database - All rights reserved.
</footer>
{% endblock 'footer' %}