{% extends "default.html" %}

{% load static %}

{% block 'body' %}

<div class="min-h-screen flex items-center justify-center px-4 py-8 bg-center bg-no-repeat bg-cover" style="background-image: url('{% static 'images/car_image_carsdb.jpg' %}'); background-color: rgba(255, 255, 255, 0.65); background-size: cover; background-blend-mode: overlay;">

    <div class="mt-5 max-w-6xl mx-auto px-4 lg:px-8 py-8">

        <div class="ml-10 flex flex-col lg:flex-row items-start gap-20 max-w-5xl mx-auto">

            <div class="flex flex-col items-center">
                <p class="mt-3 text-3xl font-semibold tracking-tight text-red-800 leading-relaxed text-center">
                    {{ car_shown_main.car_brand|upper }} | {{ car_shown_main.car_name }}
                </p>

                <div class="relative mt-4 mb-1 w-50 h-50">
                    <img class="w-full h-full object-cover rounded-full border-4 border-yellow-500 shadow-lg" src="{{ car_shown_main.car_photo.url }}" alt="Car Photo">
                    {% if request.session.user_id == car_shown_main.user.id %}

                        <a
                            href="{% url 'car_main_edit' car_shown_main.id %}"
                            class="absolute bottom-1 right-1 bg-yellow-100 hover:bg-red-500 text-red-700 hover:text-red-800 p-2 rounded-full shadow-md transition"
                            title="Edit main info">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M4 21h4l11-11-4-4L4 17v4zM20.7 7.3c.4-.4.4-1 0-1.4l-2.6-2.6a1 1 0 00-1.4 0L15 4.6l4 4 1.7-1.3z"/>
                            </svg>
                        </a>

                    {% endif %}
                </div>


                {% if request.session.user_id == car_shown_main.user.id %}

                    <a href="{% url 'car_view' car_shown_main.id %}" class="mt-5 inline-flex justify-center rounded-md cursor-pointer bg-red-700 px-4 py-3 text-sm font-semibold text-yellow-300 hover:bg-red-500 shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-600 transition">
                        UPDATE CAR INFORMATION
                    </a>

                    <form method="POST" action="{% url 'car_exclude' car_shown_main.id %}">
                        {% csrf_token %}
                        <button type="submit" class="mt-5 inline-flex cursor-pointer justify-center rounded-md bg-red-700 px-4 py-3 text-sm font-semibold text-red-100 shadow-sm hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition">
                            EXCLUDE CAR
                        </button>
                    </form>

                {% endif %}
            </div>

            <div class="w-full lg:w-[600px]">
                {% if car_shown_description.car_file and car_shown_description.car_file.name %}
                    <div class="mt-6 aspect-video flex flex-col items-center justify-center text-yellow-400">
                        <video width="520" height="280" class="rounded-lg shadow-md" controls>
                            <source src="{{ car_shown_description.car_file.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {% else %}
                    <div class="aspect-video flex flex-col items-center justify-center text-yellow-400">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mb-2 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9.75 9.75L14.25 12l-4.5 2.25V9.75zM3 5.25C3 4.007 4.007 3 5.25 3h13.5C19.993 3 21 4.007 21 5.25v13.5c0 1.243-1.007 2.25-2.25 2.25H5.25A2.25 2.25 0 013 18.75V5.25z" />
                        </svg>
                        <p class="text-sm italic font-medium text-yellow-400">No media uploaded.</p>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="mt-12 mb-1 flex flex-col gap-1 w-full">
            <hr class="border-t-2 border-red-800">
            <hr class="border-t-2 border-yellow-400">
        </div>

        <div class="flex justify-center mt-20">
            <table class="w-3/5 rounded-lg shadow bg-yellow-100 divide-y divide-red-900">
                <tbody class="divide-y divide-red-900">
                    <tr class="bg-yellow-500">
                        <td colspan="2" class="py-3 text-center text-sm font-semibold text-red-700">CAR INFORMATIONS</td>
                    </tr>

                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">CAR NAME</td>
                            <td class="p-4 pl-4 text-sm text-red-700">
                                {% if car_shown_main.car_name %}
                                    {{ car_shown_main.car_name }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">BRAND</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_main.car_brand %}
                                    {{ car_shown_main.car_brand }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">VERSION</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_main.car_version %}
                                    {{ car_shown_main.car_version }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">YEAR</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_main.car_year %}
                                    {{ car_shown_main.car_year }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">COUNTRY OF ORIGIN</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_description.car_country %}
                                    {{ car_shown_description.car_country }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">TIER</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_description.car_tier %}
                                    {{ car_shown_description.car_tier }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">TAG</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_description.car_tag %}
                                    {{ car_shown_description.car_tag }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">MAIN COLOR</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_description.car_color %}
                                    {{ car_shown_description.car_color }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">FRONT WHEEL SIZE</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_description.car_wheel_size_front %}
                                    {{ car_shown_description.car_wheel_size_front }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">BACK WHEEL SIZE</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_description.car_wheel_size_back %}
                                    {{ car_shown_description.car_wheel_size_back }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">POWER</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_description.car_power %}
                                    {{ car_shown_description.car_power }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">TORQUE</td>
                            <td class="p-4 text-sm text-red-700">
                                {% if car_shown_description.car_torque %}
                                    {{ car_shown_description.car_torque }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="py-3.5 pl-4 pr-4 text-left text-sm font-semibold text-red-800 border-r border-red-900">DESCRIPTION</td>
                            <td wrap="soft" class="p-4 text-sm text-red-700 break-words">
                                {% if car_shown_description.description %}
                                    {{ car_shown_description.description }}
                                {% else %}
                                    No information given
                                {% endif %}
                            </td>
                        </tr>

                </tbody>
            </table>

        </div>

    </div>

</div>

{% endblock 'body' %}

{% block 'footer' %}
<footer class="bg-red-900 text-yellow-200 text-center py-4">
  © 2025 Cars Database - All rights reserved.
</footer>
{% endblock 'footer' %}