{% extends "default.html" %}

{% load static %}


{% block 'body' %}

<div class="min-h-screen flex items-center justify-center px-4 py-8 bg-center bg-no-repeat bg-cover" style="background-image: url('{% static 'images/car_image_carsdb.jpg' %}'); background-color: rgba(255, 255, 255, 0.65); background-size: cover; background-blend-mode: overlay;">

  <div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-yellow-100 p-10 rounded-xl shadow-md border border-red-900">
      <div>
        <h2 class="text-center text-3xl font-extrabold text-red-800">Reset your password</h2>
      </div>

      {% if messages %}
        {% for message in messages %}
          <div class="text-sm text-center {% if message.tags == 'success' %}text-green-600{% else %}text-red-600{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      <form class="mt-8 space-y-6" action="" method="POST">
        {% csrf_token %}
        <div class="space-y-4">
          <div>
            <label for="new_password" class="block text-sm font-medium text-red-800">New password</label>
            <input id="new_password" name="new_password" type="password" required class="mt-1 block w-full px-3 py-2 border bg-yellow-50 border-red-600 rounded-md shadow-sm focus:outline-none focus:ring-red-600 focus:border-red-600 sm:text-sm">
          </div>

          <div>
            <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm password</label>
            <input id="confirm_password" name="confirm_password" type="password" required class="mt-1 block w-full px-3 py-2 border bg-yellow-50 border-red-600 rounded-md shadow-sm focus:outline-none focus:ring-red-600 focus:border-red-600 sm:text-sm">
          </div>
        </div>

        <div>
          <button type="submit"
                  class="group relative w-full cursor-pointer flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-yellow-300 bg-red-700 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block 'footer' %}
<footer class="bg-red-900 text-yellow-200 text-center py-4">
  © 2025 Cars Database - All rights reserved.
</footer>
{% endblock 'footer' %}